@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

/* Set the box-sizing for all elements to border-box */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
border-radius: 0%;
}

body {
    font-family: "Open Sans", sans-serif;
   
}
.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.content-wrapper {
    width: 100%;
    height: 100vh;
   
    background-color: #c38107bd;

    
    
}
.right-col {
    margin-top: 0%;
    width: 50%;
    height: 20%;
    background-color:none;
    padding: 2%;
    color: #ffffff;
    float:left;
  }
h1{
    margin-top: 50px;
    
    font-size: 60px;
    padding-top: 7%;
    margin-left: 2%;
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: "Unbounded", cursive;
}
.left-col {
    width: 50%;
    height: 20%;
    margin-top: 0;
    
    background-color: none;
    padding: 2%;
    color: #ffffff;
    float: right;
  }
  
h3 {
    
    margin-bottom: 10px;
    font-weight: 300;
    margin-left: 2%;
    padding-top: 30px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 12%;
    margin-left: 10%;
    vertical-align: center;
    width: 80%;
    height: 50vh;
  }
  @media screen and (max-width: 768px) {

    .content-wrapper {
        padding-bottom: 30px;
        
    }

    .column,
    img {
        width: 100%;
        padding-top: 22%;
    }

    img {
        height: 300px;
    }
   
   }

