@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

/* Set the box-sizing for all elements to border-box */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
border-radius: 0%;
}

body {
    font-family: "Open Sans", sans-serif;
   
}
.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.content-wrapper {
    width: 100%;
    height: 100vh;
     color: antiquewhite;
    background-color: #ffae00bd;
}
h1{
    font-size: 52px;
    text-align: center;
}

.container img{
   margin-top: 35px;
    width: 350px;
    height: 350px;
    display: inline-block;
    width: 350px;
    height: 425px;
    padding: 0 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content{
    text-align: center;
}
h1{
    margin-top: 0px;
    font-size: 60px;
    padding-top: 2%;
    margin-left: 2%;
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: "Unbounded", cursive;
}

 h2{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 0 90px;
    display: inline-block;
}

.h3{
    font-size: 18px;
    font-weight: 100;
    padding: 0 150px;
    display: inline-block;
    margin-bottom: 10px;
}
.text{
    display: flex;
    margin: 5px 300px;
    padding: 0px;
    justify-content: space-around;
}
.text2{
    display: flex;
    flex-direction: row;
    margin: 3px 250px;
    
    justify-content: space-evenly;
    align-items: center;
}
