@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

/* Set the box-sizing for all elements to border-box */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
border-radius: 0%;
}

body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 0;
    
}
.content-wrapper {
    width: 40%;
    height: 100vh;
   
    background-color: rgba(16, 11, 11, 0.901);
    padding: 2%;
    color: #46c3df;
    
}
h1 {
    font-size: 60px;
    padding-top: 30%;
    margin-left: 2%;
    line-height: 1.1;
    margin-bottom: 30px;
    font-family: "Unbounded", cursive;
}


.container p{
    margin-bottom: 0px;
    font-weight: 200;
    margin-left: 2%;
    padding-top: 10%;
    font-family: "Open Sans", sans-serif;
}



figure {
    width: 60%;
    height: 100vh;
    background-image: url(Gameover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}





@media screen and (max-width: 768px) {

    .content-wrapper {
        padding-bottom: 20px;
    }

    .content-wrapper,
    figure {
        width: 100vw;
    }

    figure {
        height: 500px;
    }
}
/*  */
/*Task 2*/





